:root{
  --primary-color: #f9bf1e;
  --primary-color--light: #f3eab8;
  --secondary-color: #43b7bb ;
  --secondary-color--light: #C1F752;

}


*, *::after, *::before{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

body{
    font-family: 'Pangolin', cursive;
}

.collection{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.collection__header{
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

.collection__heading{
    color: var(--secondary-color);
    text-align: center;
    font-size: 56px;
    text-shadow: -1px -1px 0px #000,
    0px -1px 0px #000,
    1px -1px 0px #000,
   -1px  0px 0px #000,
    1px  0px 0px #000,
   -1px  1px 0px #000,
    0px  1px 0px #000,
    1px  1px 0px #000,
    0 0 20px var(--secondary-color--light);
}
.collection__subheader{
  font-size: 35px;
}
.collection__content {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    justify-items: center;
    align-items: center;
}
.collection__footer{
  display: flex;
  justify-content: center;
}
.card__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card__image{
    width: 250px;
    height: 250px;
}
.hide{
    display: none;
}
.accordion{
  cursor: pointer;
}
.panel{
  display: none;
}
.format{
  margin: 10px;
  padding: 10px
}
.button{
  border: none;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: white;
  font-weight: 400;
  margin:10px;
  padding: 5px;
  box-shadow: 0 0 8px 8px rgba(193, 247, 98, 0.7);
}
.button:hover{
  color: var(--secondary-color--light);
}
.search{
  color: var(--primary-color);
}
input{
  background-color: var(--primary-color--light);
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
}
.create{
  max-width: 500px;
  color: var(--primary-color);
}
#create-button{
  width: 100px;
  height: 50px;
  align-self: center;
}
#save-button{
  float: right;
}
#more-button{
  height: 50px;
  font-weight: 400;
  font-size: 20px;
  margin: 20px;
}
/*loader*/
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid var(--secondary-color--light);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
/*end loader loader from https://loading.io/css/*/